/*All <html> Elements Go Below*/
html {
    margin-top: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.SectionHeader {
    padding-top: 70px;
    top: 0;
    font-size: 5em;
    text-align: center;
}

#EmailInput {
    opacity: 0;
}

li {
    list-style-type: none;
    margin: 0;
}

header {
    top: 0;
    margin: 0;
    width: 100vw;
}

button {
    background-color: white;
    border: none;
}

a {
    text-decoration: none;
}

/*All <nav> Elements Go Below*/
#navbar {
    top: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: #000227;
    z-index: 1;
    width: 100vw;
}

.NavLink {
    display: inline-block;
    background-color: #000227;
    width: 17vw;
    height: 70px;
    border: #000227 1px solid;
}

.NavText {
    line-height: 70px;
    font-size: 3em;
    text-align: center;
    color: white;
    margin: 0;
}

#ShowNavButton {
    display: none;
}

#NavCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

/*Below is the Default Value of the Mouseover Background for the NavLink Class*/
.NavLinkDefault:hover {
    background-color: #75adff;
}

.NavText:hover {
    color: #000339;
}


/*All Welcome <section> Elements Goes Below*/
#welcome-section {
    height: 100vh;
    background-color: #75adff;
    overflow: auto;
    margin-top: 0px;
    /* width: 100vw; */
}

.WelcomeFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#WelcomeHeader {
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 7vw;
    margin-top: 100px;
    width: 65%;
    height: auto;
}


.WelcomeParagraphContainer {
    background-color: white;
    width: 65vw;
}

#WelcomeParagraph {
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
}
/*All Project <section> Content Goes Below*/
#projects {
    background-color: #50bf8c;
}

#ProjectsHeader {
    margin-top: 0;
}

.Grid-Container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.project-tile {
    display: flex;
}

.Card-Content {
    display: flex;
    width: 30vw;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    margin: 0 1vw 2vw 1vw;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.Card-Front {
    background-color: white;
    position: relative;
}

.Card-Back {
    transform: rotateY(180deg) translateZ(1px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.project-title {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.LinkDescContainer {
    height: 65%;
    overflow: a16px
}

.ProjectLinkDesc {
    margin: 5%;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
}

.ProjectLinkImage {
    max-width: 100%;
    height: auto;
}

.Code-Link-Container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.Code-Link {
    position: relative;
    display: block;
    height: 50px;
    border: solid black 1px;
    margin: 10px 10% 0 10%;
}

.Card-Text {
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: black;
    line-height: 50px;
}

.project-tile:hover .Card-Content {
    transform: rotateY(180deg);
}

.Code-Link:hover {
    background-color: #000339;
}

    .Code-Link:hover .Card-Text {
        color: white;
    }

/*All <section> Contact Goes Below*/
#contact {
    min-height: 100vh;
    background-color: #F7DC82;
}

#ContactHeader {
    margin-top: 0;
}

.ContactContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin: 2%;
}

.ContactSubHeader {
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
}

.SocialMediaLink {
    height: 10vw;
}

#Email {
    cursor: pointer;
}

.LinkText {
    font-size: 2vw;
    line-height: 10vw;
    font-weight: 100;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}

.SocialMediaLink:hover {
    background-color: #000339;
}

    .SocialMediaLink:hover .LinkText {
        color: white;
    }

/*All pseudo elements go below*/
#welcome-section::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.LinkDescContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/*All @media Queries Go Below*/

/*<Nav> @media Queries Go Below*/
@media(max-width: 1800px) and (min-width: 700px) {
    .NavFlexContainer {
        justify-content: center;
    }

    .NavLink {
        width: 33.33%;
    }
}

@media(max-width: 750px) {

    .NavFlexContainer {
        flex-direction: column;
        height: auto;
    }

    .NavLink {
        display: none;
        height: 70px;
    }

    .NavText {
        font-size: 3em;
        line-height: 70px;
    }

    #ShowNavButton {
        display: block;
        width: 100%;
        height: 70px;
        font-size: 1em;
    }
}

@media(max-width: 400px) {
    .NavLink {
        width: 100vw;
    }

    .NavText {
        font-size: 15vw;
    }

    #ShowNavButton {
        width: 100vw;
    }
}
/*Welcome <section> @media Queries Go Below*/
@media(max-width: 900px) {
    .WelcomeParagraphContainer {
        width: 95vw;
    }

    #WelcomeParagraph {
        font-size: 50px;
    }
}

@media(max-width: 400px) {
    #WelcomeHeader {
        width: 90vw;
        font-size: 10vw;
    }

    .WelcomeParagraphContainer {
        width: 95vw;
    }

    #WelcomeParagraph {
        font-size: 10vw;
    }
}
/*Project <section> @media Queries Go Below*/
@media(max-width: 1200px) {
    .Grid-Container {
        display: grid;
        grid-template-columns: auto auto;
        padding-bottom: 30px;
    }

    .Card-Content {
        width: 45vw;
    }

    .LinkDescContainer {
        height: 60%;
    }
}

@media(max-width: 700px) {

    .Grid-Container {
        display: grid;
        grid-template-columns: auto;
    }

    .Card-Content {
        width: 85vw;
    }

    .LinkDescContainer {
        height: 65%;
    }
}

@media(max-width: 300px) {
    .ProjectLinkDesc {
        font-size: 12vw;
    }

    .Card-Text {
        font-size: 8vw;
    }

    .LinkDescContainer {
        height: 75%;
    }

    .project-title {
        font-size: 10vw;
    }
}

/*Contact Media Queries Go Below*/
@media(max-width: 750px) {
    .ContactContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .ContactInfo {
        margin-bottom: 7vw;
        width: 65vw;
    }

    .ContactSubHeader {
        font-size: 6vw;
    }

    .SocialMediaLink {
        height: 20vw;
    }

    .LinkText {
        line-height: 20vw;
        font-size: 6vw;
    }
}
/*Body Media Queries Go Below*/
@media(max-width: 500px) {

    .SectionHeader {
        padding-top: 70px;
        font-size: 15vw;
    }
}
/*Javascript Function CSS Goes Below*/
@media (max-width: 750px) {

    .navFlexContainerFunction {
        flex-direction: column !important;
        justify-content: center !important;
        width: 100% !important;
    }


    .navLinkFunction {
        display: block !important;
        width: 100% !important;
    }
}
