html {
    margin-top: 0;
    scroll-behavior: smooth;
}

/*All <nav> Elements Go Below*/
#ShowNavButton {
    display: none;
}

#NavBar {
    top: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: #112;
    z-index: 1;
}

#NavCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.NavLink {
    display: inline-block;
    background-color: #112;
    width: 17vw;
    height: 70px;
    border: #112 1px solid;
}

.NavText {
    line-height: 70px;
    font-size: 3em;
    text-align: center;
    color: white;
    margin: 0;
}

/*All Welcome <section> Elements Goes Below*/
#Welcome {
    height: 100vh;
    background-color: #75adff;
    overflow: auto;
    margin-top: 50px;
}

.WelcomeFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#WelcomeHeader {
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 7vw;
    margin-top: 100px;
    width: 65%;
    height: auto;
}


.WelcomeParagraphContainer {
    background-color: white;
    width: 65vw;
}

#WelcomeParagraph {
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
}
/*All Project <section> Content Goes Below*/
#Projects {
    background-color: #50bf8c;
}

#ProjectsHeader {
    margin-top: 0;
}

.Card-Content {
    display: block;
    width: 30vw;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    margin: 0 1vw 2vw 1vw;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.Card-Front {
    background-color: white;
    position: relative;
}

.Card-Container:hover .Card-Content{
    transform: rotateY(.5turn);
}


.Card-Back {
    transform: rotateY(.5turn);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.ProjectLinkHeader {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.Grid-Container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.ProjectLinkImage {
    width: 100%;
    height: auto;
}

.ProjectLinkDesc {
    margin: 5%;
    font-size: 25px;
    font-weight: 100;
}
/*All <section> Contact Goes Below*/
#Contact {
    min-height: 100vh;
    background-color: #ffce70;
}

#Email {
    cursor: pointer;
}

#ContactHeader {
    margin-top: 0px;
}

.SocialMediaLink {
    height: 10vw;
}

.ContactContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin: 2%;
}

.ContactSubHeader {
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
}

.LinkText {
    font-size: 2vw;
    line-height: 10vw;
    font-weight: 100;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
/*All <html> Elements Go Below*/
.SectionHeader {
    padding-top: 70px;
    top: 0;
    font-size: 5em;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    margin: 0px;
}

#EmailInput {
    opacity: 0;
}

header {
    top: 0;
    margin: 0px;
}

button {
    background-color: white;
    border: none;
}

a {
    text-decoration: none;
}
/*All pseudo classes go below*/
.NavText:hover {
    color: #112;
}

.SocialMediaLink:hover {
    color: black;
    background-color: #75adff;
}
/*Below is the Default Value of the Mouseover Background for the NavLink Class*/
.NavLinkDefault:hover {
    background-color: #75adff;
}
/*All pseudo elements go below*/
#Welcome::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*All @media Queries Go Below*/

/*<Nav> @media Queries Go Below*/
@media(max-width: 1800px) and (min-width: 700px) {
    .NavFlexContainer {
        justify-content: center;
    }

    .NavLink {
        width: 33.33%;
    }
}

@media(max-width: 750px) {

    #ShowNavButton {
        display: block;
        width: 100%;
        height: 70px;
        font-size: 1em;
    }

    .NavText {
        font-size: 3em;
        line-height: 70px;
    }

    .NavLink {
        display: none;
        height: 70px;
    }

    .NavFlexContainer {
        flex-direction: column;
        height: auto;
    }
}

@media(max-width: 400px) {
    #ShowNavButton {
        width: 100vw;
    }

    .NavLink {
        width: 100vw;
    }

    .NavText {
        font-size: 15vw;
    }
}
/*Welcome <section> @media Queries Go Below*/
@media(max-width: 900px) {
    .WelcomeParagraphContainer {
        width: 95vw;
    }

    #WelcomeParagraph {
        font-size: 50px;
    }
}

@media(max-width: 400px) {
    #WelcomeHeader {
        width: 90vw;
        font-size: 10vw;
    }

    .WelcomeParagraphContainer {
        width: 95vw;
    }

    #WelcomeParagraph {
        font-size: 10vw;
    }
}
/*Project <section> @media Queries Go Below*/
@media(max-width: 1200px) {
    .Grid-Container {
        display: grid;
        grid-template-columns: auto auto;
        padding-bottom: 30px;
    }

    .Card-Container {
        width: 45vw;
    }
}

@media(max-width: 700px) {

    .Grid-Container {
        display: grid;
        grid-template-columns: auto;
    }

    .Card-Container {
        width: 90vw;
        margin: 4px;
    }
}
/*Contact Media Queries Go Below*/
@media(max-width: 750px) {
    .ContactContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .ContactInfo {
        margin-bottom: 7vw;
    }

    .SocialMediaLink {
        height: 20vw;
    }

    .ContactInfo {
        width: 65vw;
    }

    .LinkText {
        line-height: 20vw;
        font-size: 6vw;
    }

    .ContactSubHeader {
        font-size: 6vw;
    }
}
/*Body Media Queries Go Below*/
@media(max-width: 500px) {

    .SectionHeader {
        padding-top: 70px;
        font-size: 15vw;
    }
}
/*Javascript Function CSS Goes Below*/
@media (max-width: 750px) {

    .navFlexContainerFunction {
        flex-direction: column !important;
        justify-content: center !important;
        width: 100% !important;
    }


    .navLinkFunction {
        display: block !important;
        width: 100%;
    }
}
