html {
    margin-top: 0;
}
/*All <nav> Elements Go Below*/
#navbar {
    top: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: red;
    z-index: 1;
}

.navflexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navlink {
    display: inline-block;
    background-color: cadetblue;
    width: 200px;
    height: 100%;
}

.navtext {
    font-size: 2em;
    text-align: center;
}
/*All Welcome <section> Elements Goes Below*/
#Welcome {
    height: 100vh;
    background-color: rebeccapurple;
}

.WelcomeFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0vh;
}

#WelcomeHeader {
    display: inline-block;
    background-color: white;
    padding: 10px;
    font-size: 100px;
    margin-top: 15vh;
}

.WelcomeParagraphContainer {
    background-color: white;
    max-width: 1200px;
    min-width: 500px;
    margin: 0vh 10px 1vh 10px;
    min-height: 20vh;
    max-height: 50vh;
    overflow: auto;
}

#WelcomeParagraph {
    font-size: 3em;
    font-weight: 100;
    padding: 15px;
}
/*All Project <section> Content Goes Below*/
#Projects {
    background-color: darkseagreen;
}

#ProjectsHeader {
    margin-top: 0px;
}

.ProjectLinkHeader {
    text-align: center;
    font-size: 1.9vw;
    font-weight: 900;
}

.Grid-Container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.ProjectLinkImage {
    width: 100%;
    height: auto;
}

.GitLink {
    display: block;
    background-color: white;
    margin: 0vw 1vw 2vw 1vw;
    width: 30vw;
    text-decoration: none;
    color: black;
}

.ProjectLinkDesc {
    margin: 5%;
    font-size: 2.3vw;
    font-weight: 100;
    line-height: 40px;
}
/*All <section> Contact Goes Below*/
#Contact {
    background-color: green;
}

.ContactContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin: 1%;
}

.ContactSubHeader {
    text-align: center;
    font-size: 2vw;
    font-weight: 900;
}

.LinkText {
    font-size: 2vw;
    font-weight: 100;
}
/*All <body> Elements Go Below*/
.SectionHeader {
    margin-top: 0;
    top: 0;
    font-size: 5em;
    text-align: center;
}

body {
    top: 0;
    margin: 0px;
}

li {
    list-style-type: none;
    margin: 0px;
}

header {
    top: 0;
    margin: 0px;
}

button {
    background-color: none;
    border: none;
}
#EmailInput{
    display: none;
}
